services:
  airflow-webserver:
    image: apache/airflow:2.8.1
    container_name: airflow_webserver
    restart: always
    ports:
      - "8081:8080"
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__FERNET_KEY: ""
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
    command: >
      bash -c "
        airflow db migrate &&
        airflow users create \
          --username admin \
          --password admin \
          --firstname admin \
          --lastname admin \
          --role Admin \
          --email admin@example.com || true &&
        airflow webserver
      "

  airflow-scheduler:
    image: apache/airflow:2.8.1
    container_name: airflow_scheduler
    restart: always
    depends_on:
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
    command: airflow scheduler

  mlflow:
      image: ghcr.io/mlflow/mlflow:latest
      container_name: mlflow
      ports:
        - "5000:5000"
      volumes:
        - ./mlflow/mlruns:/mlflow/artifacts
        - ./backend_store:/mlflow
      command: >
        mlflow server
        --host 0.0.0.0
        --port 5000
        --backend-store-uri sqlite:///mlflow.db
        --default-artifact-root /mlflow/artifacts
        --serve-artifacts
        --allowed-hosts "*"
      networks:
        - docker-mlops-covid19

  train-model-api:
    build:
      context: .
      target: train_model_api
    ports:
      - "8001:8000"
    image: train_model_api:latest
    container_name: train_model_api
    volumes:
    - ./metrics:/app/metrics
    - ./models:/app/models
    - ./dataset:/app/dataset
    - ./mlflow/mlruns:/mlflow/artifacts
    - ./backend_store:/mlflow
    - ./.dvc:/.dvc
    - ./training_dataset_size.txt:/app/training_dataset_size.txt
    networks:
      - docker-mlops-covid19

  predict_api:
    build:
      context: .
      target: predict_api
    ports:
      - "8002:8000"
    image: predict_api:latest
    container_name: predict_api
    volumes:
    - ./models:/app/models
    - ./.dvc:/.dvc
    networks:
      - docker-mlops-covid19

  #streamlit_clinic_app:
  #  build:
  #    context: .
  #    target: streamlit_clinic_app
  #  image: streamlit_clinic_app:latest
  #  container_name: streamlit_clinic_app
  #  networks:
  #    - docker-mlops-covid19 

networks:
  docker-mlops-covid19:

volumes:
  postgres-db-volume: